{% load staticfiles%} 
 <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element"> 
							<span>
                            <img alt="image" class="img-square" src="{% static "images/MAS_400x400.jpg"%}" style="background-color:black;" height="42" width="42" />
                             </span>

                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{request.user.username}}</strong>
							</a>
                        </div>
                        <div class="logo-element">
                            SAM
                        </div>
                    </li>
                    <li
					{% if loc == "index"%}
						class="active"
					{% endif %}
					>
                        <a href="{%  url 'home:index' %}"><i class="fa fa-database"></i> <span class="nav-label">Records</span></a>
                    </li>
					
					<li
					{% if loc == "browse"%}
						class="active"
					{% endif %}
					>
                        <a href="{%  url 'home:browse' %}"><i class="fa fa-newspaper-o"></i> <span class="nav-label">Browse</span></a>
                    </li>
					
					<li
					{% if loc == "research"%}
						class="active"
					{% endif %}
					>
                        <a href="{%  url 'home:index' %}"><i class="fa fa-flask"></i> <span class="nav-label">Research</span></a>
                    </li>
 

                </ul>

            </div>
        </nav>